
#galery {
    background-color: #31304D;
}
#slider {
    background-color: #31304D;
}
#piket {
    text-transform: uppercase;
}
.galeri {
    font-size: xx-large;
    text-transform: uppercase;
}


/* #jadwal-belajar {
    text-transform: uppercase;
}  */

caption {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
    background-color: #31304D;

} 
.piket {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
}